* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #2B2E43;
    color: rgb(255, 255, 255);
    padding: 20px;
}

.container {
    text-align: center;
    margin-top: 40px; 
}

.header {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 40px; 
}

.sub-header {
    font-size: 16px;
    margin-bottom: 30px;
}

.plans {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
}

.plan {
    text-decoration: none;
    background-color: #22273D; 
    padding: 30px;
    border-radius: 10px;
    width: 280px;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid transparent;
}

.plan:hover {
    transform: translateY(-10px);
}

.plan-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    color: whitesmoke;
}

.plan-title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}

.plan-description {
    font-size: 14px;
    margin-bottom: 20px;
}

.price {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
}

ul {
    text-align: left;
    margin-bottom: 20px;
}

li {
    margin-bottom: 8px;
}

.buy-btn {
    margin-top: auto;
    padding: 10px 20px;
    background-color: #313c67; 
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.buy-btn:hover {
    background-color: #414b66;
}

.popular {
    border: 2px solid #580d9f;
    background-color: #1F2534; 
}

.blue-btn {
    background-color: #2842b6; 
}

.blue-btn:hover {
    background-color: #1f3280;
}

.most-popular {
    margin-top: 15px;
    font-size: 12px;
    font-weight: 500;
    color: #a896e4;
    text-align: center;
}
